{% extends 'base.html'%}

{% block body %}

<h1>Data</h1>
<form method="post" action="/getdata">

    <div class="row justify-content-md-start">
        <div class="col-lg-2">
            <label for="startdate" class="form-label">Start date</label>
            <input name="startdate" type="date" class="form-control datepicker" id="startdate" value={{ data['dt_start'] }}
                min="1971-01-01">
        </div>
        <div class="col-lg-2">
            <label for="enddate" class="form-label">End date</label>
            <input name="enddate" type="date" class="form-control datepicker" id="enddate" value={{ data['dt_end'] }}
                min="1971-01-01">
        </div>
    </div>
    <br>
    <div class="row justify-content-md-start">
        <div class="col-md-4">
            <button name="download" type="submit" class="btn btn-primary">Download</button>
            {% if 'loggedin' in session %}
            <button name="sync" type="submit" class="btn btn-primary">Sync</button>
            {% endif %}
        </div>
        <div class="col-md-5"></div>

    </div>
</form>

{% endblock %}