{% extends 'base.html'%}

{% block head %}
{% endblock head %}

{% block body %}

<h1>Analyse Finnish lottery data</h1>

<form method="post" action="/analyse">

    <div class="row justify-content-md-start">
        <div class="col-lg-2">
            <label for="startdate" class="form-label">Start date</label>
            <input name="startdate" type="date" class="form-control datepicker" id="startdate" value={{ defdate1 }}
                min="1971-01-01">
        </div>
        <div class="col-lg-2">
            <label for="enddate" class="form-label">End date</label>
            <input name="enddate" type="date" class="form-control datepicker" id="enddate" value={{ defdate2 }}
                min="1971-01-01">
        </div>
    </div>
    <br>
    <div class="row justify-content-md-start">
        <div class="col-md-4">
            <button name="select" type="submit" class="btn btn-primary" value="select">Select</button>

            <button name="select" type="submit" class="btn btn-primary" value="clear">Clear</button>
        </div>

    </div>
</form>
{% if 'analysis' in session %}
<div class="row justify-content-md-start">
    <h2>Lotto number frequencies</h2>
    <figure>
    <img src="static/pictures/a_number_frequencies.svg" style="max-width: 50%;height: auto;" alt="Lottery stuff">
    <figcaption style="max-width: 50%">Fig.1 - Frequencies of numbers with other numbers in winning lottery lines. The diagonal shows how many times each number has been in the winning line.</figcaption>
</figure>
</div>
{% endif %}
{% endblock body %}